@use "../abstracts/functions"
@use "../abstracts/mixins"
@use "../abstracts/variables"
@use "../base/typography"

.intro
    margin-top: functions.em(60)
    @include mixins.device("small")
        margin-top: functions.em(20)

.logo
    margin-bottom: functions.em(60)

.intro-info
    border-right: 2px solid variables.$primary-text-color
    max-width: functions.em(320)
    p
        padding-top: functions.em(10)

        &:first-child
            border-bottom: 2px solid variables.$primary-text-color
            padding-bottom: functions.em(10)

.intro-telephone
    color: variables.$secondary-text-color
    @include mixins.device("small")
        margin-bottom: functions.em(40)
    &::after
        content: "/ / / /"
        display: block
        color: variables.$primary-text-color
        font-size: 220px
        margin-top: 200px
        letter-spacing: -90px
        @include mixins.device("medium")
            margin-top: 80px
            font-size: 160px
            letter-spacing: -70px

        @include mixins.device("small")
            display: none

.open
    display: inline-block
    width: 12px
    height: 12px
    background: variables.$open-color
    border-radius: 50%
    margin-left: functions.em(30)

.intro-photo
    border: 10px solid variables.$secondary-color
    width: 100%

.menu
    margin-top: functions.em(120)
    margin-bottom: functions.em(120)
    @include mixins.device("small")
        margin-top: functions.em(60)
        margin-bottom: functions.em(60)

.menu-item
    margin-bottom: functions.em(60)
    h2
        @include typography.secondary-font(24)
        margin-bottom: 1em

    li
        @include typography.primary-font(18)
        line-height: functions.em(35,18)
        font-weight: bold
        span
            font-family: typography.$secondary-font
            color: variables.$secondary-text-color
            display: inline-block
            width: 70px
            margin-right: 10px
            text-align: right
            margin-left: -80px //width + margin-right
            @include mixins.device("small")
                margin-left: 0
                width: auto

    img
        border-radius: 50%
        border: 10px solid variables.$secondary-color
        position: absolute
        right: 0
        margin-top: 40px
        @include mixins.device("large")
            right: 120px
        @include mixins.device("small")
            width: 150px

.contact
    margin-top: functions.em(120)
    margin-bottom: functions.em(120)
    @include mixins.device("small")
        margin-top: functions.em(60)
        margin-bottom: functions.em(60)

.contact form
    label
        @include typography.primary-font(18)
        display: block

    input, textarea
        @include typography.primary-font(18)
        color: variables.$secondary-text-color
        width: 100%
        padding: 0 5px
        height: 40px
        border: 2px solid variables.$secondary-text-color
        background: transparent
        margin-bottom: 1em

        &:hover, &:focus
            outline: none
            border-color: variables.$secondary-color

    textarea
        height: 120px

button
    @include typography.primary-font(18)
    cursor: pointer
    color: variables.$primary-text-color
    text-transform: uppercase
    border: 2px solid variables.$primary-text-color
    background: transparent
    display: block
    width: 200px
    padding-top: 5px
    box-shadow: 3px 3px 0 0 variables.$secondary-color
    box-shadow: 5px 5px 0 0 variables.$secondary-text-color

    transition: .3s
    &:hover
        box-shadow: 3px 3px 0 -2px variables.$secondary-color
        box-shadow: 3px 3px 0 0 variables.$primary-text-color

.contact-info
    display: inline-block
    color: variables.$primary-text-color
    margin-top: 2em
    margin-bottom: 3em

    @include mixins.device("large")
        float: right
        text-align: right
        margin-top: -3em

.contact-map
    display: block
    box-shadow: 0 0 0 10px variables.$secondary-color
    clear: both
    img
        width: 100%

footer
    padding: 20px 0
    background: variables.$primary-text-color
    box-shadow: 0 0 0 20px variables.$primary-text-color

    @include mixins.device("small")
        .information
            flex-direction: column
            align-items: center

    p
        display: inline-block
        color: variables.$secondary-text-color
        @include mixins.device("small")
            text-align: center

    a img
        float: right
        @include mixins.device("small")
            float: none
            margin: 20px auto
